# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Large Data files (Optional: keep this if you want to link to data instead of uploading)
*.csv
*.zip
extracted_files/

# Operating System files
.DS_Store
Thumbs.db